

# Machine Learning & Data Processing
pandas==2.3.3
numpy==2.4.0

# PyTorch for Deep Learning
torch==2.9.1
torchvision==0.24.1
torchaudio==2.9.1


# Utilities
python-dotenv==1.2.1
tqdm==4.67.1

# Kafka
confluent-kafka==2.12.2

# FastAPI & Web Server
fastapi==0.127.0
uvicorn==0.40.0
python-multipart==0.0.21

# Imgae Processing
Pillow==12.0.0
requests==2.32.5

# CLIP for Image Embeddings
git+https://github.com/openai/CLIP.git

# Prometheus Metrics
prometheus-client==0.23.1
prometheus-fastapi-instrumentator==7.1.0


