
server:
  port: 8087

spring:
  application:
    name: order-service
  kafka:
    bootstrap-servers: localhost:19092
    producer:
      key-serializer: org.apache.kafka.common.serialization.LongSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
    consumer:
        key-deserializer: org.apache.kafka.common.serialization.LongDeserializer
        value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
  datasource:
    url: jdbc:mysql://localhost:3306/order_service?createDatabaseIfNotExist=true
    username: order_service
    password: order_service
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQLDialect

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8081/auth/realms/ecommerce

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true

logging:
  level:
    com.ecommerce.order: DEBUG
    org.springframework.security: DEBUG


springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true

openapi:
  service:
    api-docs: Order-Service-API-docs
    serverUrl: http://localhost:${server.port}
    serverName: server dev
    title: Order Service API
    version: 1.0.0
    description: API document

