eureka:
  instance:
    hostname: ${HOSTNAME:discovery-service}
  client:
    register-with-eureka: false
    fetch-registry: false

spring:
  application:
    name: discovery-service

server:
  port: ${SERVER_PORT:8761}