spring:
  application:
    name: chat-service
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8081/auth/realms/ecommerce
  data:
    mongodb:
        uri: mongodb://root:rootpassword@localhost:27017/chatdb
    redis:
      host: localhost
      port: 6379

server:
  port: 8084

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true

openapi:
  service:
    api-docs: Chat-Service-API-docs
    serverUrl: http://localhost:${server.port}
    serverName: server dev
    title: Chat Service API
    version: 1.0.0
    description: API document